@charset "UTF-8";
* {
	padding: 0;
	margin: 0 auto;}
a:link {
	color: #666;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #666;
}
a:hover {
	text-decoration: none;
	color: #138685;
}
a:active {
	text-decoration: none;
	color: #138584;
}
a img{outline:none;}
img{border:none;}
body{
	padding: 0;
	margin: 0 auto;
	text-align:left;
	font-family: 'Open Sans', sans-serif;
	background-image: url(../images/bg.png);
	background-repeat: repeat-x;
	background-position: center top;
	background-color: #000E1B;
	
}
#wrapper{
	width: 990px;
	height: auto;
	margin: 0px auto;
	position:relative;
	
}
#header{
	width:990px;
	height:215px;
	background-image:url(../images/header.png);
	background-repeat:no-repeat;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #999;
	font-size: 14px;
	font-weight: normal;
}
#content-top{ width:990px; height:333px; background-image:url(../images/content-top.png); background-repeat:no-repeat; position:relative;}
/*#content-mid{width:985px; height:133px; background-image: url(../images/content-mid.png); background-repeat:no-repeat; position:relative;}*/
#content-mid{
	width:990px;
	height:430px;
	background-image: url(../images/content-middle.png);
	background-repeat:no-repeat;
	position:relative;
}
#content-top-contacts{ width:985px; height:425px; position:relative; text-align:left;}
#content-contacts-1{
	width:400px;
	position:absolute;
	left: 73px;
	top: 38px;
}
#content-contacts-2{
	width:400px;
	position:absolute;
	left: 540px;
	top: 40px;
}
#content-contacts-3{
	width:460px;
	position:absolute;
	left: 72px;
	top: 245px;
}
#content-bottom{ width:990px; height:236px; background-image: url(../images/content-bottom.png); background-repeat:no-repeat; position:relative;}
#footer{ width:990px; height:117px; position:relative; background-image: url(../images/footer.png);  background-repeat:no-repeat;}
#clients-right-text{
	background-image:url(../images/clients-right-text.png);
	/*background:#fff;*/
	position:absolute;
	left: 480px;
	width: 439px;
	height: 323px;
	top: 21px;
}
#clients-left-text{
	position:absolute;
	width: 401px;
	left: 69px;
	top: 23px;
	/*padding-right: 50px;*/
	height: 333px;
	}
#logo{
	position:absolute;
	left: 65px;
	top: 85px;
}
#phone{
	position:absolute;
	top: 88px;
	left: 498px;
	font-size: 30px;
	font-weight: bold;
	color: #89D2D1;
	width: 367px;
	text-align: right;
}
#fax{
	position:absolute;
	top: 126px;
	left: 528px;
	font-size: 30px;
	font-weight: bold;
	color: #89D2D1;
	width: 337px;
	text-align: right;
}
#tagline{
	position:absolute;
	top: 160px;
	left: 527px;
	color: #FFF;
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
}
#copyright-text{
	float:left;
	position:relative;
	left: 0px;
	top: 0px;
	color: #FFF;
	font-size: 14px;
	width: 500px;
	padding-left: 50px;
}
#address{
	float:left;
	position:relative;
	left: 0px;
	top: 0px;
	color: #FFF;
	font-size: 13px;
	font-weight: bold;
	width: 500px;
	padding-left: 50px;
}
#header-1{
	position:absolute;
	left: 428px;
	top: 35px;
	width: 58px;
}
#header-2{
	position:absolute;
	top: 35px;
	left: 512px;
	width: 83px;
}
#header-3{
	position:absolute;
	left: 615px;
	top: 35px;
	width: 81px;
}
#header-4{
	position:absolute;
	left: 712px;
	top: 35px;
	width: 76px;
}
#header-5{
	position:absolute;
	top: 35px;
	left: 811px;
	width: 116px;
}
h1{
	color: #FFF;

}
h2{
	color: #FFF;
	font-size: 14px;
	font-weight: normal;
	line-height: 16px;
}
#slider{
	position:absolute;
	left: 50px;
	top: -2px;
}
#buttons{
	position:absolute;
	left: 407px;
	top: 378px;
}
#left-text{
	position:absolute;
	width: 419px;
	left: 61px;
	top: 3px;
	/*padding-right: 50px;*/
	height: 139px;
	border-right-width: thin;
	border-right-style: solid;
	border-right-color: #999;
}
#right-text{
	position:absolute;
	width: 392px;
	left: 505px;
	top: 9px;
	height: 207px;
}
#logo-1{
	position:absolute;
	left: 43px;
	top: 11px;
}
#logo-2{
	position:absolute;
	left: 29px;
	top: 64px;
}
#logo-3{
	position:absolute;
	left: 207px;
	top: 16px;
}
#logo-4{
	position:absolute;
	left: 196px;
	top: 61px;
}
#logo-5{
	position:absolute;
	left: 245px;
	top: 191px;
}
#logo-6{
	position:absolute;
	left: 67px;
	top: 114px;
}
#logo-7{
	position:absolute;
	left: 77px;
	top: 257px;
}
#logo-8{
	position:absolute;
	left: 233px;
	top: 112px;
}
#logo-9{
	position:absolute;
	left: 29px;
	top: 193px;
}
#logo-10{
	position:absolute;
	left: 150px;
	top: 63px;
}
