h3
{ padding: 5px 0; margin: 0; color: #5d5d5d; font-family: Arial; font-weight: bold; text-decoration: none; font-size: 24px; line-height: 25px; text-transform: uppercase; letter-spacing: -1px; }

h4
{letter-spacing: 0; padding: 0; margin: 0; color: #3b3b3b; font-family: Arial; font-weight: normal; text-decoration: none; font-size: 16px; line-height: 20px;}

body
{background-color: #c1c1c1;}

.caption
{color: #323232; font-size: 12px; font-family: tahoma, arial; line-height: 14px; padding: 0px; margin: 0px;}

p
{color: #7e7e7e; font-size: 12px; font-family: tahoma, arial; line-height: 14px; padding: 0px; margin: 0px;}
.faq { color: #7e7e7e; font-size: 12px; font-family: tahoma, arial; line-height: 16px; margin: 0; padding: 0; }
.footer
{color: #49779c; font-size: 10px; font-family: tahoma, arial; line-height: 12px; padding: 0px; margin: 0px;}
h5 { color: #3b3b3b; font-size: 16px; font-family: Arial; font-weight: bold; line-height: 18px; text-transform: uppercase; margin-top: 40px; margin-bottom: 6px; padding-top: 0; padding-bottom: 0; border-bottom: 1px solid #e4e4e4; }
a:link { color: #0c4a7b; text-decoration: underline; }
a:hover { color: #2e72a7; text-decoration: none; }
a:visited { color: #2e72a7; text-decoration: underline; }
