/********************************************************************************************************/
/*======================================================================================================*
/********************************************************************************************************/

#sidebar{
	width:200px;
}
#signup{
	width:340px;
}
#login{
	width:340px;
}

#first_name{
	width:113px;
}
#last_name{
	width:113px;
}
#email{
	width:276px;
}
#password{
	width:115px;
}
#password_check{
	width:115px;
}
#password_text{
	width:115px;
}
#password_check_text{
	width:115px;
}